html,
body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: clamp(20px, 5vw, 40px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 1rem;
}

h1, h2 {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: #6D94C5;
    color: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.9);
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(39, 39, 135)
}

header div {
    display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 5rem;
    font-size: 1.2rem;
}

.nav-item {
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: -45px;        
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    font-size: small;
    color: rgb(67, 67, 67);
    pointer-events: none;
    transition: opacity 0.3s;
}

.nav-item .tooltip::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);

  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
}

.nav-item:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.atas {
    text-align: center;
    padding: 4rem 0 4rem 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.atas h1 {
    margin: 0;
    font-size: 3rem;
}

.atas p {
    color: rgb(122, 122, 122);
}

.tengah {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2fr;
    border-bottom: 1px solid #ddd;
}

.tengah h1 {
    background-color: #6D94C5;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.tengah-isi {
    border-right: 1px solid #ddd;
}

.tengah-isi.projects h1 {
    padding-left: 1rem;
}

.tengah-isi.projects ul {
    padding: 0;
    list-style: none;
}

.tengah-isi.projects li {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0 .5rem 1.5rem;
}

.tengah-isi.projects li:last-child {
    border-bottom: none;
}

.experience {
    padding: 0;
}

.experience .satu {
    border-bottom: 1px solid #ddd;
}

.tengah-isi.experience h1,
.tengah-isi.experience h2,
.tengah-isi.experience p,
.tengah-isi.experience a {
    padding-left: 1rem;
}

.tengah-isi.experience a {
    display: block;
    padding-bottom: 2rem;
}

.education {
    border-right: none;
    padding: 0;
}

.tengah-isi.education p {
    padding: 0 1rem;
}

.bawah h1 {
    background-color: #6D94C5;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.wrapper-ulasan {
    display: flex;
    margin-top: 2rem;
}
.ulasan {
    display: block;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 1rem 1.5rem 2rem 1.5rem;
    padding: 3rem 1.5rem;
}

.ulasan p {
    margin: 0;
    color: rgb(114, 114, 114);
}

.ulasan h4 {
    margin: .4rem 0 1rem 0;
}

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

@media (max-width: 640px) {
    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }

    header {
        flex-direction: column;
        padding: 0;
        background-color: transparent;
        color: #ddd;
        font-size: 1.2rem;
    }

    header div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    header p {
        margin: 0.3rem 0 1rem 0;
    }

    img {
        margin-bottom: 0;
        width: 10%;
    }

    nav {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: .5rem 0;
        background-color: #6D94C5;
        gap: 1rem;
    }

    nav a {
        text-decoration: none;
    }

    .atas {
        padding: 3rem;
        margin: 0;
    }

    .atas h1 {
        padding: 0 .5rem;
        margin: 0;
        font-size: 2rem;
    }

    .atas p {
        color: rgb(122, 122, 122);
        padding: 0 .5rem;
        font-size: .8rem;
    }

    .tengah {
        grid-template-columns: 1fr;
    }

    .tengah-isi.projects ul {
        margin: 0;
    }
    
    .bawah {
        padding: 0;
    }

    .wrapper-ulasan  {
        flex-direction: column;
    }

    .ulasan {
        margin: 2rem 1.5rem .5rem 1.5rem;
        padding: 1rem 1.5rem;
    }

    footer {
        font-size: .8rem;
    }

}